.swiper-content {
  width: 1092px;
  padding-bottom: 24px;
  margin: 0 auto;
}
.swiper-subtitle {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: -4px;
}
.swiper-title {
  margin: 3px 0 29px;
  font-family: Arsenal, sans-serif;
}
.swiper-description {
  margin: 0 0 34px;
  font-size: 21px;
  letter-spacing: 0.05rem;
}
.swiper-author {
  margin: 0;
  font-size: 22px;
}
