.navigate {
  height: 100px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;

  &-right {
    display: flex;
    justify-content: flex-end;
  }
}
.straight-line {
  position: relative;
  margin: 0 25px;
  &::before {
    content: "";
    position: absolute;
    width: 0.5px;
    height: 75%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #111;
  }
}
