.elementor-element-section2,
.elementor-element-section5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 140px 0px 0px 0px;
}
.elementor-element-section6 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 45px 0px 0px 0px;
}
.elementor-element-section7 {
  padding: 115px 0 150px 0;
}
.elementor-element-section9 {
  padding: 120px 0px 135px 0px;
}
.elementor-element-section12 {
  padding: 60px 0px 73px 0px;
}
.elementor-element-product-view {
  padding: 100px 0 0 0;
}
